Package: transai-connector-orchestrator
Description: This package contains the connector orchestrator for transAI platform. It manages and coordinates various connectors within the transAI ecosystem.
Homepage: https://transai.com
Version: :version:
Maintainer: transAI <samen@transai.com>
Architecture: all
Pre-Depends: curl
Recommends: systemctl | systemd, logrotate
Depends: debconf
