Package: transai-connector-orchestrator
Version: :version:
Maintainer: transAI <samen@transai.com>
Architecture: all
Description: This package contains the connector orchestrator for transAI platform. It manages and coordinates various connectors within the transAI ecosystem.
Pre-Depends: curl, systemctl
Depends: debconf
