name: Master check

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Save Last Deployment Info
        run: |
          echo "Succesfully deployed ${{ github.sha }}"
