name: Updated repository code trigger

on:
  repository_dispatch:
    types:
      - download-latest-connector-orchestrator
    inputs:
      run_id:
        description: 'The run ID to download artifacts from.'
        required: true
        type: string
      repository_owner:
        description: 'The source repository owner account to download artifacts from.'
        required: true
        type: string
        default: 'xip-online-applications'
      repository:
        description: 'The source repository name to download artifacts from.'
        required: true
        type: string
        default: 'xod-core'
      artifact_name:
        description: 'The name of the artifact to download.'
        required: true
        type: string
        default: transai-connector-orchestrator

concurrency:
  group: updated-code-workflow
  cancel-in-progress: true

jobs:
  update-code:
    name: Update Connector Orchestrator code
    uses: './.github/workflows/wf-update-code.yaml'
    secrets: inherit
    with:
      run_id: ${{ github.event.client_payload.run_id }}
      artifact_name: ${{ github.event.client_payload.artifact_name || 'transai-connector-orchestrator' }}
      repository_owner: ${{ github.event.client_payload.repository_owner || 'xip-online-applications' }}
      repository: ${{ github.event.client_payload.repository || 'xod-core' }}
