name: Build installable deb package

on:
  workflow_call:

permissions:
  contents: write
  id-token: write

jobs:
  dep:
    name: Build installable deb
    strategy:
      matrix:
        runs-on: [ubuntu-24.04, ubuntu-24.04-arm]
    runs-on: ${{ matrix.runs-on }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install Dependencies
        run: npm install --no-save --omit=dev

      - name: Compile deb package
        run: make build-dep

      - name: Commit updated package
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"
          git add --all
          git status
          git commit -m "chore: compiled new installable deb [skip ci]" || echo "No changes to commit"
          git push
