name: Update Connector Orchestrator code

on:
  workflow_call:
    inputs:
      run_id:
        description: 'The run ID to download artifacts from.'
        required: true
        type: string
      repository_owner:
        description: 'The source repository to download artifacts from.'
        required: true
        type: string
        default: 'xip-online-applications'
      repository:
        description: 'The source repository to download artifacts from.'
        required: true
        type: string
        default: 'xod-core'
      artifact_name:
        description: 'The name of the artifact to download.'
        required: true
        type: string
        default: transai-connector-orchestrator

permissions:
  contents: write
  id-token: write

jobs:
  log-the-inputs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Cleanup current code
        run: make cleanup

      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.XOD_CORE_APP_ID }}
          private-key: ${{ secrets.XOD_CORE_APP_PRIVATE_KEY }}
          permission-actions: read
          repositories: '${{ inputs.repository }}'

      - name: Download math result for job 1
        uses: actions/download-artifact@v5
        with:
          github-token: '${{ steps.generate-token.outputs.token }}'
          name: '${{ inputs.artifact_name }}'
          repository: '${{ inputs.repository_owner }}/${{ inputs.repository }}'
          run-id: '${{ inputs.run_id }}'

      - name: Commit updated code
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"
          git add --all
          git commit -m "chore: update connector orchestrator code to latest version from ${{ inputs.repository_owner }}/${{ inputs.repository }} run ID ${{ inputs.run_id }}" || echo "No changes to commit"
          git push
